html {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
}

body {
  width: 100%;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

main {
  padding-bottom: 1em;
  border-bottom: 2px solid orangered;
}

h1 {
  padding-bottom: 1em;
  border-bottom: 2px solid orangered;
}

pre, code {
  color: white;
  background-color: orangered;
  padding: 0.5em;
  box-sizing: border-box;
  display:block;
  white-space: pre-wrap;
  word-wrap: break-word;
}

a {
  color: red;
}

footer {
  font-size: 0.75em;
}

.emphasised {
  text-decoration: underline double black;
}

#introduction {
  font-size: 1.25em;
  font-style: italic;
}